name: Checking Push

# Controls when the workflow will run
on: 
  push:
    branches:
    - master

  pull_request:
    branches:
    - develop
    - master

jobs:
  Checking-Push:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: 11
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.1"
          channel: "stable"
      - run: flutter pub get
      - run: flutter analyze
      - run: flutter test
